.board {
  border-left: 1px solid grey;

  .box {
    width: 80px;
    height: 110px;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

    .header {
      height: 30px;
      border-bottom: 1px solid grey;
      padding-left: 7px;
      font-size: 12px;
      color: #0D97D5;
      font-weight: 500;
    }
  }
}
