<div fxLayout="row" class="board" *ngIf="monthList">
  <div *ngFor="let month of monthList.mesi" fxLayout="column" class="box"
       [class.selected]="!selecting && monthIsSelected(month)"
       [class.selecting]="selecting && monthIsSelected(month)"
       (mousedown)="selectMonth(month)"
       (mouseenter)="onMouseOver($event, month)"
  >
    <div class="header" fxLayoutAlign="start center">
      <p>{{month.nome}}</p>
    </div>
    <app-document-stats-item [month]="month" [max]="max" [min]="min" fxFlex></app-document-stats-item>
  </div>
</div>

<app-document-stats-selected [selectedMonths]="monthsSelected"></app-document-stats-selected>
